<div class="container-layout">
    <h1>TODO LIST</h1>
    <h3> List tasks and users</h3>

    <a class="btn btn-primary" role="button" href="/tasks">Task</a>
    <a class="btn btn-primary" role="button" href="/users">User</a>
</div>