<div class="container-list">
    <form action="/tasks" method="post">
    <div class="mb-3">
        <label for="task" class="form-label">TASKS</label>
        <div class="task-text">
            <input type="text" class="form-control" name="title" placeholder="Insert your task title">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

